body {
  background-color: #212121;
}

#name {
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: -.1px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  right: 5px;
}

#title {
  font-family: 'Rubik', sans-serif;
  color: #fff;
  font-size: 30px;
  background: #2d2d2d;
  padding-top: auto;
  padding-bottom: auto;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  border-radius: 1014px 110px / 120px;
  width: 80%;
  text-align: center;
}

#title:hover {
  color: #d3ecff;
  font-size: 32px;
  transition: .5s;
}

#Dinner1, #Super_Snowman1 {
  font-family: 'Rubik', sans-serif;
  color: #ff9100;
  transition: .7s;
  border-radius: 10px;
  height: 30px;
  width: 300px;
  text-align: center;
  padding-bottom: 27px;
  padding-top: 27px;
  margin: auto;
  margin-top: 100px;
  font-size: 30px;
  text-decoration: none;
  border-radius: 15px;
  background: rgba(51, 51, 51, .1);
  padding: 10px;
}

#Dinner1 {
  color: #00fdb5;
}

# {
  color: #d2fd00;
}

# {
  color: #00a8fd;
}

#Dinner1:hover, #Super_Snowman1:hover {
  color: white;
  border-radius: 15px;
  text-shadow: 0px 9px #123;
  font-size: 32px;
  height: 40px;
  width: 310px;
}

#Dinner, #Super_Snowman {
  font-family: 'Rubik', sans-serif;
  color: #ff9100;
  transition: .7s;
  border-radius: 10px;
  height: 30px;
  width: 300px;
  text-align: center;
  padding-bottom: 27px;
  padding-top: 27px;
  margin: auto;
  margin-top: 100px;
  font-size: 30px;
  text-decoration: none;
}

#Dinner:hover, #Super_Snowman:hover {
  color: white;
  border-radius: 15px;
  text-shadow: 0px 9px #123;
  font-size: 35px;
  height: 40px;
  width: 310px;
  background: rgba(63, 80, 89, .3);
}

a:visited {
  color: inherit;
  text-decoration: none;
}
